spring:
  application:
    name: service2

  config:
    import:
    - application-circuitbreaker.yml

server:
  port: 8090

logging:
  level:
    org.springframework: INFO
    org.springframework.transaction: TRACE
    org.springframework.web: DEBUG
  pattern:
    console: "%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"
    level: "%5p [${spring.application.name:}]"

management:
  endpoints:
    web:
      exposure:
        include: '*'
  metrics:
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true
